:root {
    --cor-do-fundo-da-pagina: hsl(185, 75%, 39%);
    --cor-da-fonte-em-destaque: hsl(229, 23%, 23%);
    --cor-da-fonte-sem-destaque: hsl(227, 10%, 46%);
    --cor-de-fundo-do-cartao: hsl(225, 10%, 92%);
    --tamanho-da-fonte-em-destaque: 20px;
    --tamanho-da-fonte-sem-destaque: 16px;
    --espessura-da-fonte-em-destaque: 700;
    --espessura-da-fonte-sem-destaque: 400;
}

body {
    background-color: var(--cor-do-fundo-da-pagina);
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-image: 
    url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -15vw -30vw, 50vw 25vw;
}

    /* background-position: -220px -400px, 800px 400px; */

.container {
    background-color: var(--cor-de-fundo-do-cartao);
    border-radius: 15px;
    box-shadow: 0 0 20px hsl(229, 23%, 23%);
    display: flex;
    flex-direction: column;
    width: 350px;
}

.imagem-de-fundo-do-cartao img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 140px;
}

.informacoes-pessoais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informacoes-pessoais .imagem-de-perfil img {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-top: -70px;
    padding: 5px;
    background-color: var(--cor-de-fundo-do-cartao);
}

.informacoes-pessoais .informacoes-de-usuario {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin: 20px 0 10px 0;
}

.informacoes-de-usuario h1 {
    color: var(--cor-da-fonte-em-destaque);
    font-size: var(--tamanho-da-fonte-em-destaque);
    font-weight: var(--espessura-da-fonte-em-destaque);
}

.informacoes-de-usuario p {
    color: var(--cor-da-fonte-sem-destaque);
    font-size: var(--tamanho-da-fonte-em-destaque);
    font-weight: var(--espessura-da-fonte-sem-destaque);
}

.localizacao-do-usuario {
    color: var(--cor-da-fonte-sem-destaque);
    font-size: var(--tamanho-da-fonte-sem-destaque);
    margin: 0 0 30px 0;
}

hr {
    border: none;
    border: 1px solid hsl(210, 3%, 85%); 
    width: 100%;
    height: 1px;
    margin-bottom: 30px;
}

.dados-do-perfil {
    display: flex;
    justify-content: space-around;
    padding: 0 20px 30px 20px;
}

.dados-do-perfil div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.dados-do-perfil div h2 {
    color: var(--cor-da-fonte-em-destaque);
    font-size: 22px;
    font-weight: var(--espessura-da-fonte-em-destaque);
}

.dados-do-perfil div p {
    color: var(--cor-da-fonte-sem-destaque);
    font-size: 14px;
}

@media (max-width: 800px) {
    body {
    background-image: 
    url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -70vw -60vw, 50vw 50vw;
}

.container {
    width: 300px;
}

.imagem-de-fundo-do-cartao img {
    height: 120px;
}

.informacoes-pessoais .imagem-de-perfil img {
    width: 90px;
    height: 90px;
    margin-top: -50px;
}

.informacoes-pessoais .informacoes-de-usuario {
    margin: 5px 0 10px 0;
}

.informacoes-de-usuario h1 {
    font-size: 18px;
}

.informacoes-de-usuario p {
    font-size: 18px;
}

.localizacao-do-usuario {
    font-size: 14px;
    margin: 0 0 35px 0;
}

hr {
    margin-bottom: 20px;
}

.dados-do-perfil {
    padding: 0 20px 20px 20px;
}

.dados-do-perfil div h2 {
    font-size: 20px;
}

.dados-do-perfil div p {
    font-size: 13px;
}
}

@media (max-width: 450px) {
    body {
    background-image: 
    url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -150vw -85vw, 50vw 65vw;
}

.container {
    width: 250px;
}

.imagem-de-fundo-do-cartao img {
    height: 100px;
}

.informacoes-pessoais .imagem-de-perfil img {
    width: 80px;
    height: 80px;
    margin-top: -45px;
}

.informacoes-pessoais .informacoes-de-usuario {
    margin: 5px 0 5px 0;
}

.informacoes-de-usuario h1 {
    font-size: 17px;
}

.informacoes-de-usuario p {
    font-size: 16px;
}

.localizacao-do-usuario {
    font-size: 14px;
    margin: 0 0 25px 0;
}

hr {
    margin-bottom: 15px;
}

.dados-do-perfil {
    padding: 0 20px 15px 20px;
}

.dados-do-perfil div h2 {
    font-size: 18px;
}

.dados-do-perfil div p {
    font-size: 12px;
}
}

@media (max-width: 320px) {
    body {
    background-image: 
    url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -240vw -140vw, 50vw 85vw;
}
}